In [1]:
import pandas as pd

In [2]:
import redis as rd

In [8]:
D = pd.read_csv("https://github.com/junaart/ForStudents/raw/refs/heads/main/R/Zachet/DataSets/9.csv",sep=";")

In [9]:
display(D)

,region_id,region,P1_2014,P1_2015,P1_2016,P2_2014,P2_2015,P2_2016,P3_2014,P3_2015,...,P5_2016,P6_2014,P6_2015,P6_2016,P7_2014,P7_2015,P7_2016,P8_2014,P8_2015,P8_2016
0,1,Республика Адыгея,"8,5","7,9","4,2",0,0,0,"137,5","83,6",...,"10,1",5,5,10,164,187,230,"205,7","202,4","225,2"
1,2,Республика Алтай,"10,7","10,9","6,2",0,0,0,468,"270,3",...,"0,2",1,5,3,184,177,118,"91,8","89,7","91,6"
2,3,Республика Башкортостан,"10,4","9,1","7,3",7,8,10,"30009,7","25320,7",...,"8,4",732,924,631,7192,7625,9324,"8302,8","8329,7","8854,4"
3,4,Республика Бурятия,"8,5","4,8","6,4",2,2,4,"924,6","852,6",...,"2,5",44,52,53,275,344,380,940,"1049,2","931,1"
4,5,Республика Дагестан,"12,2","7,3","2,5",13,13,6,"527,6","53,7",...,"0,4",407,231,159,431,424,578,"972,2","969,5","929,7"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,86,Ханты-Мансийский автономный округ – Югра,"5,4",5,"6,3",1,0,0,54306,"57166,6",...,"0,4",56,55,49,1328,1309,1969,"2720,3","2805,9","2800,4"
81,87,Чукотский автономный округ,"29,2","17,8","7,2",2,2,0,"34,9","694,1",...,"0,7",0,0,0,392,402,410,0,0,"38,9"
82,89,Ямало-Ненецкий автономный округ,"7,8","7,4",9,16,13,22,"1515,8","1507,9",...,"0,1",33,29,40,3930,4052,3627,"101,7","136,3","136,2"
83,90,Республика Крым,"11,5","5,1","2,8",0,0,0,"258,3","596,8",...,"1,1",8,175,143,66,75,102,"511,9","1235,9","1410,9"
84,91,Севастополь,"4,8",0,"3,3",0,0,0,"0,1",0,...,"12,8",0,110,72,103,108,316,"267,4","650,2","653,1"

In [10]:
D.columns

Index(['region_id', 'region', 'P1_2014', 'P1_2015', 'P1_2016', 'P2_2014',
       'P2_2015', 'P2_2016', 'P3_2014', 'P3_2015', 'P3_2016', 'P4_2014',
       'P5_2014', 'P4_2015', 'P5_2015', 'P4_2016', 'P5_2016', 'P6_2014',
       'P6_2015', 'P6_2016', 'P7_2014', 'P7_2015', 'P7_2016', 'P8_2014',
       'P8_2015', 'P8_2016'],
      dtype='object')

In [13]:
D["P1_2014"]

0      8,5
1     10,7
2     10,4
3      8,5
4     12,2
      ...
80     5,4
81    29,2
82     7,8
83    11,5
84     4,8
Name: P1_2014, Length: 85, dtype: object

In [ ]:
r = rd.Redis()
key = "id1."
for i in range(len(D["P1_2014"])):
    r.set(key+str(i),str(D["P1_2014"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id2."
for i in range(len(D["P1_2015"])):
    r.set(key+str(i),str(D["P1_2015"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id3."
for i in range(len(D["P1_2016"])):
    r.set(key+str(i),str(D["P1_2016"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id4."
for i in range(len(D["P2_2014"])):
    r.set(key+str(i),str(D["P2_2014"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id5."
for i in range(len(D["P2_2015"])):
    r.set(key+str(i),str(D["P2_2015"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id6."
for i in range(len(D["P2_2016"])):
    r.set(key+str(i),str(D["P2_2016"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id7."
for i in range(len(D["P3_2014"])):
    r.set(key+str(i),str(D["P3_2014"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id8."
for i in range(len(D["P3_2015"])):
    r.set(key+str(i),str(D["P3_2015"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id9."
for i in range(len(D["P3_2016"])):
    r.set(key+str(i),str(D["P3_2016"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id10."
for i in range(len(D["P4_2014"])):
    r.set(key+str(i),str(D["P4_2014"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id11."
for i in range(len(D["P4_2015"])):
    r.set(key+str(i),str(D["P4_2015"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id12."
for i in range(len(D["P4_2016"])):
    r.set(key+str(i),str(D["P4_2016"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id13."
for i in range(len(D["P5_2014"])):
    r.set(key+str(i),str(D["P5_2014"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id14."
for i in range(len(D["P5_2015"])):
    r.set(key+str(i),str(D["P5_2015"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id15."
for i in range(len(D["P5_2016"])):
    r.set(key+str(i),str(D["P5_2016"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id16."
for i in range(len(D["P6_2014"])):
    r.set(key+str(i),str(D["P6_2014"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id17."
for i in range(len(D["P6_2015"])):
    r.set(key+str(i),str(D["P6_2015"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id18."
for i in range(len(D["P6_2016"])):
    r.set(key+str(i),str(D["P6_2016"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id19."
for i in range(len(D["P7_2014"])):
    r.set(key+str(i),str(D["P7_2014"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id20."
for i in range(len(D["P7_2015"])):
    r.set(key+str(i),str(D["P7_2015"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id21."
for i in range(len(D["P7_2016"])):
    r.set(key+str(i),str(D["P7_2016"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id22."
for i in range(len(D["P8_2014"])):
    r.set(key+str(i),str(D["P8_2014"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id23."
for i in range(len(D["P8_2015"])):
    r.set(key+str(i),str(D["P8_2015"].iloc[i]))

In [ ]:
r = rd.Redis()
key = "id24."
for i in range(len(D["P8_2016"])):
    r.set(key+str(i),str(D["P8_2016"].iloc[i]))